.flip_list_item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 8px;
  border: 2px solid var(--primary-color);
}

.flip_list_item--top {
  background-color: var(--secondary-color);
}

.flip_list_item__title {
  font-size: 2rem;
  font-weight: 500;
}

.flip_list_item__footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.5rem;
  color: var(--neutral-alt-color);
}
